.logo-image {
  width: 300px;
}
.home-bg-color {
  background: #fff9f4;
}
.image-footer {
  width: 100px;
}
.icon-bg {
  background: rgba(56, 54, 54, 0.534);
}
@media (max-width: 500px) {
  .logo-image {
    width: 200px;
  }
  .footer-box {
    flex-direction: column;
    text-align: center;
  }
}
